/.vs/
/AdobeCheckOSVersionInfo/bin/
/AdobeCheckOSVersionInfo/obj/
/Annotation/bin/
/Annotation/obj/
/Camera/bin/
/Camera/obj/
/CameraApiTest/obj/
/Common/bin/
/Common/obj/
/DbPortingProject/bin/
/DbPortingProject/obj/
/DesignSurfaceExt/DesignSurfaceExt/bin/
/DesignSurfaceExt/DesignSurfaceExt/obj/
/DesignSurfaceManagerExt/DesignSurfaceManagerExt/bin/
/DesignSurfaceManagerExt/DesignSurfaceManagerExt/obj/
/ToolBoxLib/obj/
/ToolBoxLib/bin/
/EEPROM/bin/
/EEPROM/obj/
/FormsInheritance/bin/
/FormsInheritance/obj/
/EventHandler/bin/
/EventHandler/obj/
/GlaucomaToolMeasurements/bin/
/GlaucomaToolMeasurements/obj/
/ImageListView/obj/
/ImageListView/bin/
/INTUSOFT.ThumbnailModule/bin/
/INTUSOFT.ThumbnailModule/obj/
/IntusoftDemosaic/obj/
/IntusoftDemosaic/bin/
/IntuSoftUSBController/bin/
/IntuSoftUSBController/obj/
/IVLConfiguration/obj/
/IVLConfiguration/bin/
/IVLReport/bin/
/IVLReport/obj/
/IvlSoft.Data/bin/
/IvlSoft.Data/obj/
/IvlSoft.Desktop/obj/
/IvlSoft.Desktop/bin/
/libusb/bin/
/libusb/obj/
/LiveModeProcessing/obj/
/LiveModeProcessing/bin/
/pDesigner/pDesigner/bin/
/pDesigner/pDesigner/obj/
/PdfFileWriter_src/PdfFileWriter/PdfFileWriter/obj/
/PdfFileWriter_src/PdfFileWriter/PdfFileWriter/bin/
/PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/
/ReportTemplateCreator/bin/
/ReportTemplateCreator/obj/
/ReportUtils/obj/
/ReportUtils/bin/
/RulerControl/bin/
/RulerControl/obj/
/WindowsFormsApplication1/obj/
/WindowsFormsApplication1/bin/
/CameraApiTest/bin/
/Clahe/bin/
/CreateOrAlterDB/bin/
/CreateOrAlterDB/obj/
/IVLTemplateCreator/obj/
/PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/bin/
/library/x64/Debug/
/DesignSurfaceExt/bin/
/DesignSurfaceExt/obj/
/DesignSurfaceManagerExt/bin/
/DesignSurfaceManagerExt/obj/
/obj/
/pDesigner/bin/
/pDesigner/obj/
/IVLTemplateCreator/obj/
/PdfFileWriter_src/PdfFileWriter/obj/
/PdfFileWriter_src/TestPdfFileWriter/bin/
/PdfFileWriter_src/TestPdfFileWriter/obj/
/IVLTemplateCreator/obj/
/library/x64/
/PdfFileWriter_src/PdfFileWriter/bin/
/libs/x64
/CopyAppData/bin/
/CopyAppData/obj/