/.vs/
/AdobeCheckOSVersionInfo/bin/
/AdobeCheckOSVersionInfo/obj/
/Annotation/bin/
/Annotation/obj/
/Camera/bin/
/Camera/obj/
/CameraApiTest/obj/
/Common/bin/
/Common/obj/
/DbPortingProject/bin/
/DbPortingProject/obj/
/DesignSurfaceExt/DesignSurfaceExt/bin/
/DesignSurfaceExt/DesignSurfaceExt/obj/
/DesignSurfaceManagerExt/DesignSurfaceManagerExt/bin/
/DesignSurfaceManagerExt/DesignSurfaceManagerExt/obj/
/ToolBoxLib/obj/
/ToolBoxLib/bin/
/EEPROM/bin/
/EEPROM/obj/
/FormsInheritance/bin/
/FormsInheritance/obj/
/EventHandler/bin/
/EventHandler/obj/
/GlaucomaToolMeasurements/bin/
/GlaucomaToolMeasurements/obj/
/ImageListView/obj/
/ImageListView/bin/
/INTUSOFT.ThumbnailModule/bin/
/INTUSOFT.ThumbnailModule/obj/
/IntusoftDemosaic/obj/
/IntusoftDemosaic/bin/
/IntuSoftUSBController/bin/
/IntuSoftUSBController/obj/
/IVLConfiguration/obj/
/IVLConfiguration/bin/
/IVLReport/bin/
/IVLReport/obj/
/IvlSoft.Data/bin/
/IvlSoft.Data/obj/
/IvlSoft.Desktop/obj/
/IvlSoft.Desktop/bin/
/libusb/bin/
/libusb/obj/
/LiveModeProcessing/obj/
/LiveModeProcessing/bin/
/pDesigner/pDesigner/bin/
/pDesigner/pDesigner/obj/
/PdfFileWriter_src/PdfFileWriter/PdfFileWriter/obj/
/PdfFileWriter_src/PdfFileWriter/PdfFileWriter/bin/
/PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/
/ReportTemplateCreator/bin/
/ReportTemplateCreator/obj/
/ReportUtils/obj/
/ReportUtils/bin/
/RulerControl/bin/
/RulerControl/obj/
/WindowsFormsApplication1/obj/
/WindowsFormsApplication1/bin/
/CameraApiTest/bin/
/Clahe/bin/
/CreateOrAlterDB/bin/
/CreateOrAlterDB/obj/
/IVLTemplateCreator/obj/
/PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/bin/
/library/x64/Debug/
/DesignSurfaceExt/bin/
/DesignSurfaceExt/obj/
/DesignSurfaceManagerExt/bin/
/DesignSurfaceManagerExt/obj/
/obj/
/pDesigner/bin/
/pDesigner/obj/
/IVLTemplateCreator/obj/
/PdfFileWriter_src/PdfFileWriter/obj/
/PdfFileWriter_src/TestPdfFileWriter/bin/
/PdfFileWriter_src/TestPdfFileWriter/obj/
/IVLTemplateCreator/obj/
/PdfFileWriter_src/PdfFileWriter/bin/
/CopyAppData/bin/
/CopyAppData/obj/
/ClassLibrary1/obj/Debug/netstandard2.0/ClassLibrary1.AssemblyInfo.cs
/ClassLibrary1/obj/Debug/netstandard2.0/ClassLibrary1.AssemblyInfoInputs.cache
/ClassLibrary1/obj/Debug/netstandard2.0/ClassLibrary1.assets.cache
/ClassLibrary1/obj/Debug/netstandard2.0/ClassLibrary1.csproj.AssemblyReference.cache
/ClassLibrary1/obj/Debug/netstandard2.0/ClassLibrary1.csproj.CoreCompileInputs.cache
/ClassLibrary1/obj/Debug/netstandard2.0/ClassLibrary1.csproj.FileListAbsolute.txt
/ClassLibrary1/obj/Debug/netstandard2.0/ClassLibrary1.dll
/ClassLibrary1/obj/Debug/netstandard2.0/ClassLibrary1.GeneratedMSBuildEditorConfig.editorconfig
/ClassLibrary1/obj/Debug/netstandard2.0/ClassLibrary1.pdb
/ClassLibrary1/obj/Debug/netstandard2.0/ClassLibrary1.sourcelink.json
/ClassLibrary1/obj/ClassLibrary1.csproj.nuget.dgspec.json
/ClassLibrary1/obj/ClassLibrary1.csproj.nuget.g.props
/ClassLibrary1/obj/ClassLibrary1.csproj.nuget.g.targets
/ClassLibrary1/obj/project.assets.json
/ClassLibrary1/obj/project.nuget.cache
/EventHandlerTest/bin/Debug/net6.0-windows/EventHandlerTest.deps.json
/EventHandlerTest/bin/Debug/net6.0-windows/EventHandlerTest.dll
/EventHandlerTest/bin/Debug/net6.0-windows/EventHandlerTest.pdb
/EventHandlerTest/obj/Debug/net6.0-windows/ref/EventHandlerTest.dll
/EventHandlerTest/obj/Debug/net6.0-windows/refint/EventHandlerTest.dll
/EventHandlerTest/obj/Debug/net6.0-windows/EventHandlerTest.AssemblyInfo.cs
/EventHandlerTest/obj/Debug/net6.0-windows/EventHandlerTest.AssemblyInfoInputs.cache
/EventHandlerTest/obj/Debug/net6.0-windows/EventHandlerTest.assets.cache
/EventHandlerTest/obj/Debug/net6.0-windows/EventHandlerTest.csproj.CoreCompileInputs.cache
/EventHandlerTest/obj/Debug/net6.0-windows/EventHandlerTest.csproj.FileListAbsolute.txt
/EventHandlerTest/obj/Debug/net6.0-windows/EventHandlerTest.dll
/EventHandlerTest/obj/Debug/net6.0-windows/EventHandlerTest.GeneratedMSBuildEditorConfig.editorconfig
/EventHandlerTest/obj/Debug/net6.0-windows/EventHandlerTest.pdb
/EventHandlerTest/obj/Debug/net6.0-windows/EventHandlerTest.sourcelink.json
/EventHandlerTest/obj/EventHandlerTest.csproj.nuget.dgspec.json
/EventHandlerTest/obj/EventHandlerTest.csproj.nuget.g.props
/EventHandlerTest/obj/project.assets.json
/EventHandlerTest/obj/project.nuget.cache
/ClassLibrary1/bin/
/ClassLibrary1/obj/
/EventHandlerTest/obj/
/EventHandlerTest/bin/
/packages/
/library/x64/Release/
/library/x64/Release/IntuSoftDemosaic.dll
/library/x64/Release/IntuSoftDemosaic.pdb
/library/x64/Release/IntuSoftUSBController.dll
/library/x64/Release/IntuSoftUSBController.pdb
/library/x64/Release/libusb-1.0.dll
/library/x64/Release/libusb-1.0.pdb
/library/x64/Release/LiveModeProcessing.dll
/library/x64/Release/LiveModeProcessing.pdb
/library/x64/Release/vc143.pdb
