<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"

         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <variable name="dir" value="${dir}" />
  <variable name="dir2" value="${dir2}" />
  <targets>

    <target name="CameraLog" xsi:type="File" createDirs="true" fileName="${var:dir}logs/${var:dir2}/CameraLog.csv"
       layout="Time, ${time}, Message, ${message}, Class Name, ${callsite}, ${stacktrace}, LineNumber, ${callsite-linenumber}, ${exception:format=tostring} " />
    
    <target name="CaptureLog" xsi:type="File" createDirs="true" fileName="${var:dir}logs/${var:dir2}/CaptureLog.csv"
       layout="Time, ${time}, Message, ${message}, Class Name, ${callsite}, ${stacktrace}, LineNumber, ${callsite-linenumber}, ${exception:format=tostring} " />
    
    <target name="CaptureSettingsLog" xsi:type="File" createDirs="true" fileName="${var:dir}logs/${var:dir2}/CaptureSettingsLog.csv"
       layout="Time, ${time}, Message, ${message}, Class Name, ${callsite}, ${stacktrace}, LineNumber, ${callsite-linenumber}, ${exception:format=tostring} " />
    
    <target name="UI_EventLog" xsi:type="File" createDirs="true" fileName="${var:dir}logs/${var:dir2}/UI_EventLog.csv"
       layout="Time, ${time}, Message, ${message}, Class Name, ${callsite}, ${stacktrace}, LineNumber, ${callsite-linenumber}, ${exception:format=tostring} " />
    
    <target name="FrameEventLog" xsi:type="File" createDirs="true" fileName="${var:dir}logs/${var:dir2}/FrameEventLog.csv"
        layout="Time, ${time}, Message, ${message}, Class Name, ${callsite}, ${stacktrace}, LineNumber, ${callsite-linenumber}, ${exception:format=tostring} " />

  </targets>
  <rules>
    <logger name="INTUSOFT.Imaging" levels ="Info,Debug" writeTo="CameraLog" />
    <logger name="INTUSOFT.Imaging.CaptureLog" levels="Info,Debug" writeTo="CaptureLog" />
    <logger name="INTUSOFT.Imaging.CaptureSettingsLog" levels="Info,Debug" writeTo="CaptureSettingsLog" />
    <logger name="INTUSOFT.Desktop" levels="Info,Debug" writeTo="UI_EventLog" />
    <logger name="INTUSOFT.Imaging.FrameLog" levels="Info,Debug" writeTo="FrameEventLog" />

  </rules>
</nlog>