<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <!--<add key="log4net.Internal.Debug" value="true"/>-->
  </appSettings>
  <log4net>
    <!-- Appender configuration for the Camera event log-->
    <appender name="CameraAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogFileName}.csv"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss:fff}, %method, %c{1},  %m%n"/>
      </layout>
      <immediateFlush value="true"/>s
      <maximumFileSize value="1MB"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>

    <!--Appender configuration for the capture log-->
    <appender name="CaptureAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{CaptureFileName}.csv"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss:fff}, %method, %c{1},  %m%n"/>
      </layout>
      <maximumFileSize value="1MB"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
      <immediateFlush value="true"/>
    </appender>
     <!--Appender configuration for the capture settings log-->
    <appender name="CaptureSettingsAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{CaptureSettingsFileName}.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss:fff}, %method, %c{1},  %m%n"/>
      </layout>
      <maximumFileSize value="1MB"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
      <immediateFlush value="true"/>
    </appender>
    <!-- Appender configuration for the UI events log-->
    <appender name="UI_EventAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{UIFileName}.csv"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss:fff}, %method, %c{1},  %m%n"/>
      </layout>
      <maximumFileSize value="10MB"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
      <immediateFlush value="true"/>
    </appender>

    <!-- Appender configuration for the UI events log-->
    <appender name="FrameEventAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{FrameEventFileName}.csv"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss:fff}, %method, %c{1},  %m%n"/>
      </layout>
      <maximumFileSize value="10MB"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
      <immediateFlush value="true"/>
    </appender>
    <!-- Logger configuration for the UI events log-->
    <logger name="INTUSOFT.Desktop" additivity="true">
      <level value="DEBUG"/>
      <appender-ref ref="UI_EventAppender"/>
    </logger>
    <!-- Logger configuration for the camera event log-->
    <logger name="INTUSOFT.Imaging" additivity="true">
      <level value="DEBUG"/>
      <appender-ref ref="CameraAppender"/>
    </logger>
    <logger name="INTUSOFT.Imaging.CaptureSettingsLog" additivity="true">
      <level value="DEBUG"/>
      <appender-ref ref="CaptureSettingsAppender"/>
    </logger>
    <!-- Logger configuration for the capture log-->
    <!--<logger name ="CaptureLogger">
        <level value="DEBUG" />
        <appender-ref ref="CaptureAppender" />
      </logger>-->
    <logger name="INTUSOFT.Imaging.CaptureLog">
      <level value="DEBUG"/>
      <appender-ref ref="CaptureAppender"/>
    </logger>
    <logger name="INTUSOFT.Imaging.FrameLog">
      <level value="DEBUG"/>
      <appender-ref ref="FrameEventAppender"/>
    </logger>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
