<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"

         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
 <variable name="dir" value="${dir}" />
  <variable name="dir2" value="${dir2}" />
  <variable name="dir3" value="${dir3}" />
  
  <targets>

    
    <target name="UI_EventLog" xsi:type="File" createDirs="true" fileName="${var:dir}logs/${var:dir2}/UI_EventLog.csv"
       layout="Time, ${time}, Message, ${message}, Class Name, ${callsite}, ${stacktrace}, LineNumber, ${callsite-linenumber}, ${exception:format=tostring} " />
    

    <target name="ExceptionLog" xsi:type="File" createDirs="true" fileName="${var:dir}logs/${var:dir2}/ExceptionLog.csv"
        layout="Time, ${time}, Message, ${message}, Class Name, ${callsite}, ${stacktrace}, LineNumber, ${callsite-linenumber}, ${exception:format=tostring} " />
 

  </targets>
  <rules>
    <logger name="DB_Porting" levels="Info,Debug" writeTo="UI_EventLog" />
    <logger name="ExceptionLog" levels="Info,Debug" writeTo="ExceptionLog" />

  </rules>
</nlog>